@model MakeAWish.Models.AppUser
<!doctype html>
<html lang="en">
<head>
    <style>
        .ml {
            margin-left: 110px !important;
        }

        .mb {
            margin-bottom: 10px !important;
        }
    </style>
</head>
<body class="">
    @using (Html.BeginForm("SignIn", "Auth", FormMethod.Post))
    {
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        @Html.ValidationMessageFor(m => m.UserName)
        <label for="inputUserName" class="sr-only">User name</label>
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control mb", placeholder = "User name" })
        <label for="inputPassword" class="sr-only">Password</label>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <input class="btn btn-lg btn-primary ml" type="submit" value="Sign in" />
    }
</body>
</html>
